.bg-holder.bg-auth-card-overlay {
  background-image: url(/assets/img/bg/37.png);
}

.auth-card--container {
  .bg-holder {
    background-image:url(/assets/img/bg/38.png);
  }

  .auth-card--logo {
    width: 48px;
  }
}

.form-icon {
  width: 20px;
}

